.Drum-Track {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 80px;
  border-top: 1px solid var(--medium-light);
  flex-grow: 1;
}

  .beat-grid {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
  }

    .beat-grid > button {
      width: 100%;
      height: 100%;
    }

  .left-column {
    padding: 8px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    background-color: var(--medium-dark);
    color: var(--light);
  }

    .left-column.label {
      align-items: flex-end;
    }

    .left-column button {
      border-radius: 50%;
      width: 25px;
      height: 25px;
    }

    .left-column .controls-area {
      flex-grow: 1;
      max-height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .left-column .bottom-row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
