.Byte-Input-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 40px;
  border-top: 1px solid var(--medium-light);
  transition: border 1s ease-in 0s;
}

.bit-button {
  border-radius: 0;
  background-color: var(--light);
}

.bit-button:before{
  font-size: 14px;
  font-weight: bolder;
  content: "0";
}

.bit-button.on{
  background-color: var(--blue);
  border-top-color: var(--blue-light);
  border-left-color: var(---blue-light);
  border-right-color: var(--medium-light);
  border-bottom-color: var(--medium-light);
}

.bit-button:active{
  background-color: var(--medium);
}

.bit-button.on:before{
  content: "1";
}

.bit-button:active:before{
  content: "_";
}
