.Beat-Dot {
  background-color: var(--medium);
  border-right: 1px solid var(--medium-light);
  height: 100%;
  width: 100%;
  position: relative;
}

  .Beat-Dot.playing {
    background-color: var(--highlight);
  }

  .Beat-Dot > img {
    position: absolute;
    max-width: 80%;
    max-height: 70%;
    top: 20%;
    left: 10%;
    transform: scale(0.0);
    -webkit-transition: transform 0.1s cubic-bezier(0.23, 1, 0.32, 1);
    transition:         transform 0.1s cubic-bezier(0.23, 1, 0.32, 1);
  }

    .Beat-Dot.active > img {
      transform: scale(1.0);
    }

    .Beat-Dot.active.playing > img {
      transform: scale(1.1);
    }
